 /* global.css: Styling for whole website */
body {
  background-color: darkblue;
  color: mintcream;
  font-family: "Ubuntu", sans-serif;
}

header {
  background-color: MediumBlue;
  padding: 1px 25px;
  border-radius: 20px;
  overflow: hidden;
}

header a {
  color: mintcream;
  text-decoration: none;
  position: center;
  border-radius: 10px;
}

header a:hover {
  background-color: navy;
  color: cyan;
}

#logo-link {
  float: left;
  font-family: "Hurricane", cursive;
  font-size: 24pt;

  /*Keep reasonable highlight area*/
  margin: 1px;
  padding-left: 10px;
  padding-right: 15px;
}

#navbar {
  margin:0 auto;
  float: right;
}

#navbar a {
  float: left;
  margin: 5px;
  padding: 5px;
  font-family: "Ubuntu", sans-serif;
  font-size: 18pt;
}

/* Basic text */
h1, h2, h3 {
  color: gold;
}

h1 {
  text-align: center;
}

p em {
  margin: 2px;
}

code {
  
}

.inline-code {
  color: white;
  background-color: black;
  padding: 3px;
  font-size: 10pt;
  border-radius: 5px;
}

.code-view {
  background-color: black;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  padding: 10px;
  display: block;
  white-space: pre;
}

a {
  color: goldenrod;
}

a:hover {
  color: gold;
}

li {
  padding-bottom: 10px;
}

article {
  background-color: navy;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

::selection {
  background-color: purple;
}

/* Media */
img {
  border: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 10%;
}

.inline-image {
  float: right;
  margin: 4px;
}

/* Table */
table {
  margin: 10px;
}

#lesson-table {
  table-layout: fixed;
}

#lesson-table td {
  width: 1%; /* Placeholder to use full space */
  background-color: black;
  padding: 10px;
  border: 3px solid white;
  border-radius: 7px;
}

#lesson-table td:hover {
  cursor: pointer;
}

#lesson-table a {
  display: block;
  text-decoration: none;
  color: white;
  margin: 0;
}

/* Footer */
footer {
  background-color: darkgreen;
  padding: 12px;
  border-radius: 7px;
  /* Position and size */
  left: 0;
  bottom: 0;
}

footer a {
  color: mintcream;
  padding-left: 3px;
  padding-right: 3px;
}

footer a:hover {
  color: lightgray;
}
